.main-kids{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff6e;
}
.crd--data p{
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
}
.main-men{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff6e;
}
.main-women{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff6e;
}
